h1 {
    color: darksalmon;
    font-size: 56px;
    font-weight: 600;
}


.text1 {
    font-size: 36px;
    font-weight: 300;
    color: burlywood;
}


#box {
    font-size: 36px;
    font-weight: 300;
    color: burlywood;
}




















